{% extends 'yann/base.html.twig' %}
{% block body %}

    {{ form_start(form) }}
    <div class="">
        {{ form_row(form.file) }}
    </div>
    <div class="">
        {{ form_row(form.category) }}
    </div>
    <div class="">
        {{ form_row(form.starred) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}