<!doctype html>
<html lang="fr" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
      data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Stage{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description"/>
    <meta content="Themesbrand" name="author"/>
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    {% block styleSheets %}
        {{ include('partials/head-css.html.twig') }}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="layout-wrapper">
    {% block Menu %}
        {{ include('partials/menu.html.twig') }}
    {% endblock %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block footer %}
            {{ include('partials/footer.html.twig') }}
        {% endblock %}
    </div>
</div>


{% block javaScript %}
    {{ include('partials/vendor-scripts.html.twig') }}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset("/assets/js/app.js") }}"></script>
{% endblock %}

{{ include('partials/customizer.html.twig') }}

</body>

</html>