{{ include('partials/main.html.twig') }}

<head>

    {{ include('partials/title-meta.html.twig', {title: 'Apex Line Charts'}) }}

    {{ include('partials/head-css.html.twig') }}

</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">

    {{ include('partials/menu.html.twig') }}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                {{ include('partials/page-title.html.twig', {pagetitle: 'Apexcharts', title: 'Line Charts'}) }}
                <div class="row">
                    <div class="col-xl-3">
                        <a href="{{ path('app_objectif_new') }}">
                            <button type="button"
                                    class="btn btn-primary waves-effect waves-light mb-3 mt-3"
                            >Ajouter un objectif
                            </button>
                        </a>
                    </div>
                    </button>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Dumatos 2024</h4>
                            </div><!-- end card header -->

                            <div class="card-body">
                                <div id="line_chart_basic" data-colors='["--vz-primary"]' class="apex-charts"
                                     dir="ltr"></div>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div>
                    <!-- end col -->
                </div>

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {{ include('partials/footer.html.twig') }}
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->


{{ include('partials/customizer.html.twig') }}

{{ include('partials/vendor-scripts.html.twig') }}


<!-- App js -->
<script>window.apiRoot = "{{ api_root }}";
    console.log("{{ api_root }}")</script>
<script src="{{ asset('assets/js/app.js') }}"></script>


<!-- apexcharts -->
<script src={{ asset('assets/libs/apexcharts/apexcharts.min.js') }}></script>

<script src="https://img.themesbrand.com/velzon/apexchart-js/stock-prices.js"></script>

<!-- linecharts init -->
<script src= {{ asset('assets/yann/js/objectifs.init.js') }}></script>

<!-- App js -->
<script src= {{ asset('assets/js/app.js') }}></script>
</body>

</html>