{% block body %}
    {{ form_start(form) }}

    <!-- Basic Input -->
    <div class="">
        {{ form_row(form.immat) }}
    </div>

    <!-- Input Date -->
    <div>
        {{ form_row(form.entryDate) }}
    </div>


    <div class="">
        {{ form_row(form.marque) }}
    </div>
    <div class="">
        {{ form_row(form.modele) }}
    </div>
    <div class="">
        {{ form_row(form.carburant) }}
    </div>
    <div class="">
        {{ form_row(form.numAssurance) }}
    </div>
    <div class="">
        {{ form_row(form.employee) }}
    </div>
    <div class="">
        {{ form_row(form.files) }}
    </div>
    <div>
        <button type="button" class="add_item_link" data-collection-holder-class="files">Add a file</button>
        <ul class="files"
            data-index="{{ form.uploaded_files|length > 0 ? form.uploaded_files|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.uploaded_files.vars.prototype)|e('html_attr') }}"
        ></ul>
    </div>

    <div class="">
        {{ form_row(form.active) }}
    </div>
    <div class="col-12 mt-4">
        <button class="btn">{{ button_label|default('Save') }}</button>
        {#            <button class="btn btn-primary" type="submit">Submit form</button> #}
    </div>
    {#    #}
    {# <div class=""> #}
    {#    <label for="marque" class="form-label">Marque</label> #}
    {#    <input type="text" class="form-control" name="vehicle[marque]" id="vehicle_marque"> #}
    {# </div> #}
    {# <div class=""> #}
    {#    <label for="modele" class="form-label">Modèle</label> #}
    {#    <input type="text" class="form-control" name="vehicle[modele]" id="vehicle_modele"> #}
    {# </div> #}
    {# <div class=""> #}
    {#    <label for="carburant" class="form-label">Carburant</label> #}
    {#    <input type="text" class="form-control" name="vehicle[carburant]" id="vehicle_carburant"> #}
    {# </div> #}
    {# <div class=""> #}
    {#    <label for="numAssurance" class="form-label">N° Assurance</label> #}
    {#    <input type="text" class="form-control" name="vehicle[numAssurance]" id="vehicle_numAssurance"> #}
    {# </div> #}
    {#    <!-- Datalist example --> #}
    {#    <div> #}
    {#        {% for employee in employees %} #}
    {#        <div>iciiiiiiiiiiiiiiiiiii</div> #}
    {#            {% endfor %} #}
    {#        {{ employees.findAll[0] }} #}
    {#    <label for="exampleDataList" class="form-label">Datalist example</label> #}
    {#    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Search your country..."> #}
    {#    <datalist id="datalistOptions"> #}
    {#        {% for employee in employees %} #}
    {#        <option value="{{ employee.firstName }}"> #}
    {#        {% endfor %} #}
    {#        <option value="New York"> #}
    {#        <option value="France"> #}
    {#        <option value="Spain"> #}
    {#        <option value="Chicago"> #}
    {#        <option value="Bulgaria"> #}
    {#        <option value="Hong Kong"> #}
    {#    </datalist> #}
    {#    </div> #}
    {#    <div> #}
    {#    <input type="hidden" name="token" value="{{ csrf_token('save') }}"> #}
    {# </div> #}
    {#        <div> #}
    {#            <input type="hidden" id="vehicle__token" name="vehicle[_token]" value="de55c5f29372107f336219d5eda.GnrAJAl7GOYQjbfPRIErD_JwMlMOCAMRWpEF8hJKOiA.VB2CE3wvTb554PH6Msp_W6ABQDdFUkBoCM5okWFnf1dQApVGOjlvqSK9hw"> #}
    {#        </div> #}

    {{ form_end(form) }}




    <script>
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };

        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });


    </script>
{% endblock %}
