{% block body %}
    {{ form_start(form) }}

    <div class="">
        {{ form_row(form.immat) }}
    </div>

    <div>
        {{ form_row(form.entryDate) }}
    </div>


    <div class="">
        {{ form_row(form.marque) }}
    </div>

    <div class="">
        {{ form_row(form.modele) }}
    </div>

    <div class="">
        {{ form_row(form.carburant) }}
    </div>

    <div class="">
        {{ form_row(form.numAssurance) }}
    </div>

    <div class="">
        {{ form_row(form.active) }}
    </div>

    <div class="">
        {{ form_row(form.employee) }}
    </div>

    <div class="">
        {{ form_row(form.files) }}
    </div>

    <div class="col-12 mt-4">
        <button class="btn">{{ button_label|default('Save') }}</button>
        {#            <button class="btn btn-primary" type="submit">Submit form</button> #}
    </div>

    {{ form_end(form) }}

{% endblock %}
