{{ include('partials/main.html.twig') }}
{{ encore_entry_script_tags('app') }}
{{ encore_entry_link_tags('app') }}

<head>

    {{ include('partials/title-meta.html.twig', {title: 'Companies'}) }}

    <!-- Sweet Alert css-->
    <link href="{{ asset('assets/libs/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" type="text/css"/>

    {{ include('partials/head-css.html.twig') }}

</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">

    {{ include('partials/menu.html.twig') }}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                {{ include('partials/page-title.html.twig', {pagetitle: 'CRM', title: 'Companies'}) }}

                <div id="" class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center flex-wrap gap-2">
                                    <div class="flex-grow-1">
                                        <a href="{{ path('app_company_new') }}">
                                            <button class="btn btn-info add-btn">
                                                <i class="ri-add-fill me-1 align-bottom"></i> Add Company
                                            </button>
                                        </a>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <div class="hstack text-nowrap gap-2">
                                            <button class="btn btn-soft-danger" id="remove-actions"
                                                    onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i>
                                            </button>
                                            <button class="btn btn-danger"><i
                                                        class="ri-filter-2-line me-1 align-bottom"></i> Filters
                                            </button>
                                            <button class="btn btn-soft-success">Import</button>
                                            <button type="button" id="dropdownMenuLink1" data-bs-toggle="dropdown"
                                                    aria-expanded="false" class="btn btn-soft-info"><i
                                                        class="ri-more-2-fill"></i></button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                <li><a class="dropdown-item" href="#">All</a></li>
                                                <li><a class="dropdown-item" href="#">Last Week</a></li>
                                                <li><a class="dropdown-item" href="#">Last Month</a></li>
                                                <li><a class="dropdown-item" href="#">Last Year</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div {{ react_component('CompaniesList') }} >Loading...</div>
                </div>
                <!--end row-->

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {{ include('partials/footer.html.twig') }}
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->


{{ include('partials/customizer.html.twig') }}

{{ include('partials/vendor-scripts.html.twig') }}


<!-- App js -->
<script src="{{ asset('assets/js/app.js') }}"></script>

<!-- list.js min js -->
<script src="{{ asset('assets/libs/list.js/list.min.js') }}"></script>
<script src="{{ asset('assets/libs/list.pagination.js/list.pagination.min.js') }}"></script>

<!-- Sweet Alerts js -->
<script src="{{ asset('assets/libs/sweetalert2/sweetalert2.min.js') }}"></script>

{# <script src="{{ asset('assets/yann/js/companies.init.js') }}"></script> #}
{# <script src="{{ asset('assets/yann/js/companies.js') }}"></script> #}

<!-- App js -->
<script src="{{ asset('assets/js/app.js') }}"></script>
</body>

</html>