{{ include('partials/main.html.twig') }}

<head>

    {{ include('partials/title-meta.html.twig', {title: 'Actualités'}) }}

    {{ include('partials/head-css.html.twig') }}

</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">

    {{ include('partials/menu.html.twig') }}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                {{ include('partials/page-title.html.twig', {pagetitle: 'Base UI', title: 'Cards'}) }}

                <div class="row">
                    {% for actu in actus %}
                        <div class="col-xxl-4 col-lg-6">
                            <div class="card">
                                {% if actu.featuredImg %}
                                    <img class="card-img-top img-fluid" src="{{ actu.featuredImg }}"
                                         alt="Card image cap">
                                {% endif %}
                                <div class="card-body">
                                    <h4 class="card-title mb-2">{{ actu.title }}</h4>
                                    <p class="card-text text-muted"> {{ actu.content }} </p>
                                    <p class="card-text">
                                        Le {{ actu.dateFrom | date("d/m/y H:i") }} par {{ actu.postedBy }}
                                    </p>
                                </div>
                            </div>
                        </div><!-- end col -->
                    {% endfor %}
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {{ include('partials/footer.html.twig') }}
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

{{ include('partials/customizer.html.twig') }}

{{ include('partials/vendor-scripts.html.twig') }}

<!-- prismjs plugin -->
<script src="{{ asset('assets/libs/prismjs/prism.js') }}"></script>

<!-- Masonry plugin -->
<script src="{{ asset('assets/libs/masonry-layout/masonry.pkgd.min.js') }}"></script>

<script src="{{ asset('assets/js/pages/card.init.js') }}"></script>

<!-- App js -->
<script src="{{ asset('assets/js/app.js') }}"></script>
</body>

</html>