{# {% extends 'yann/base.html.twig' %} #}
{% block body %}
    {{ form_start(form) }}

    <!-- Basic Input -->
    <div class="">
        {{ form_row(form.username) }}
    </div>
    <div class="">
        {#        {{ form_row(form.roles) }} #}
    </div>
    <div class="">
        {{ form_row(form.password) }}
    </div>
    <div class="">
        {{ form_row(form.firstName) }}
    </div>
    <div class="">
        {{ form_row(form.lastName) }}
    </div>
    <div class="">
        {{ form_row(form.phone) }}
    </div>
    <div class="">
        {{ form_row(form.email) }}
    </div>
    <div class="">
        {{ form_row(form.active) }}
    </div>

    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
